/*css for ABOUT, CONTACT & JOBS */
body {
    padding-top: 0px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.business-header {
    height: 400px;
    background: url('/imgs/about-header.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.img-center {
    margin: 0 auto;
}
#testimonials {
    background-image: url(/imgs/testimony-pattern.png);
    opacity: 1;
    background-size: 5px;
    background-attachment: scroll;
    height: 700px;
}
.testimonial-quote {
    font-style: italic;
    font-weight: 400;
    font-family: 'Radley', serif;
    font-size: 24px;
    line-height: 36px;
    color: white;
    text-align: center;
    height: 300px;
}
#slider {
    min-height: 500px;
}
.help_p {
    font-size: 120%;
    font-weight: 500;
}
.personal_care_ul {
    color: #565656;
}